@using exerciseCrud.Models;
@using exerciseCrud.Blls;
@model BoardList
@{

    ViewBag.Title = "List";
}
<!-- 서버 딴 API 버전-->

<div id="MainDIV"></div>
<div class="container">
    
    <p><span style="color:red;font-size:x-large">@Model.TotalCnt</span> 개의 글</p>

    <div class="rgst_btn">
        <input class="btn-danger" type="button" value="              글 작 성 버 튼              " onclick="registerBoard()" ><br />
        <br />
    </div>
    <table class="table">
        <tr>
            <th>순번</th>
            <th>제목</th>
            <th>등록일</th>
            <th>등록자</th>
            <th>조회수</th>
            <th>추천수</th>
        </tr>

        @if (Model.TotalCnt < 1)
        {
            <tr><td>게시물이 없습니다</td></tr>
        }
        else
        {
            foreach (var item in Model.list)
            {
                <tr style="cursor:pointer" onclick="detailBoard(@item.boardId)">
                    <td>@item.boardId</td>
                    <td><a href="">@item.boardTitle</a></td>
                    <td>@item.regDate.ToShortDateString()</td>
                    <td>@item.userId</td>
                    <td>@item.viewCount</td>
                    <td>@item.recommend</td>
                </tr>
            };
        }


    </table>
    <div><ul class="pagination"></ul></div>
   

</div>

<script type="text/javascript">

    $(function () {
        paging();
    });
    
    function paging() {     
        pageSize = 10;

        totalPages = Math.ceil(@Model.TotalCnt/pageSize);     
        currentPage = @ViewBag.page;      
        startPage = currentPage - 5;
        endPage = currentPage + 4;
        if (startPage <= 0) {
            endPage -= (startPage - 1);
            startPage = 1;
        }
        
        if (endPage > totalPages) {
            endPage = totalPages;
            if (endPage > 10) {
                startPage = endPage - 9;
            }
        }
       
        //페이징처리
        if (endPage > 1) {
            SetPagination(totalPages, currentPage, startPage, endPage);
        }
    };
    
    function SetPagination(totalPages, currentPage, startPage, endPage) {  
        
        if (currentPage > 1) {
            $(".pagination").append("<li><a href=\"/Board/List\"><<</li>");
            $(".pagination").append("<li><a href=\"/Board/List?page="+(currentPage-1)+"\"><</li>");
        };
       
        for (var page = startPage; page <= endPage; page++) {        
            var cur = "";
            if(page== currentPage) { cur = 'active' };
            $(".pagination").append("<li class=\"" + cur+ "\"> <a href=\"/Board/List?page=" + page+ "\">"+page+"</li>");
        };

        if (currentPage < totalPages) {
            $(".pagination").append("<li><a href=\"/Board/List?page=" + (currentPage + 1) + "\">></li>");
            $(".pagination").append("<li><a href=\"/Board/List?page=" + totalPages + "\">>></li>");
        };
    };


</script>





<!-- API 버전 리스트
<div id="MainDIV"></div>

<script id="ListTmpl" type="text/j-query-tmpl">
    <h2>게시판 *^____^*</h2>
    <p><span style="color:red;font-size:x-large">${TotalCnt}</span> 개의 글</p>
    <div class="container">
        <div class="rgst_btn">
            <input class="btn-danger" type="button" value="              글 작 성 버 튼              " onclick="registerBoard()"><br />
            <br />
        </div>
        <table class="table">
            <tr>
                <th>순번</th>
                <th>제목</th>
                <th>등록일</th>
                <th>등록자</th>
                <th>조회수</th>
                <th>추천수</th>
            </tr>

            {{if TotalCnt == 0}}
            <tr><td>게시물이 없습니다</td></tr>

            {{else}}
            {{each(i,item) list}}

            <tr style="cursor:pointer" onclick="detailBoard('${item.boardId}')">
                <td>${item.boardId}</td>
                <td><a href="">${item.boardTitle}</a></td>
                <td>${item.regDate.substring(0,10)}</td>
                <td>${item.userId}</td>
                <td>${item.viewCount}</td>
                <td>${item.recommend}</td>
            </tr>
            {{/each}}
            {{/if}}

        </table>

    </div>
-->
<!--페이징처리
{{if pager.EndPage > 1}}

<ul class="pagination">
    {{if pager.CurrentPage > 1}}
    <li>
        <a href="/Board/List"><<</a>
    </li>
    <li>
        <a href="/Board/List?page=${pager.CurrentPage - 1}"><</a>
    </li>
    {{/if}}

    {{each(i,item) pager.Paging}}
    <li class="${i= pager.CurrentPage} ?" active" : "" )">
        <a href="/Board/List?page=${item}">${item}</a>
    </li>

    {{/each}}
    {{if pager.CurrentPage < pager.TotalPages}}
    <li>
        <a href="/Board/List?page=${pager.CurrentPage + 1}">></a>
    </li>
    <li>
        <a href="/Board/List?page=${pager.TotalPages}">>></a>
    </li>
    {{/if}}


</ul>
{{/if}}


</script>
    -->


<script type="text/javascript">
    //API 버전
    @*$(function () {
        init();
    });

    function init() {
        $.ajax({
            url: "//exerciseCrud.com/Exercise/List/"+@ViewBag.page,
            success: function (d) {
                console.log(d);
                $("#ListTmpl").tmpl(d).appendTo("#MainDIV");
            }
        });
    };*@


    function registerBoard() {
        location.href = "/Board/Write";
    }
    function detailBoard(boardId) {
        location.href = "/Board/Detail?boardId=" + boardId;
    }


</script>
<style>
    tr:not(:first-child):hover {
        background: #cc9696;
    }
</style>


