<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exerciseCRUD</title>
    <script src="http://www.imbc.com/commons/libs/jquery-1.12.3.min.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="~/dist/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="~/js/dropzone.js"></script>

    @Styles.Render("~/dropzone/dist/min/dropzone.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
 
    <div class="container body-content">
        <div class="page-header">
            <h1>iMBC </h1>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now - Poo</p>
            <p>푸름 | jQuery Tmpl </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
